<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NVL</title>
  <meta charset="UTF-8">
  <meta name="description" content="Theo dõi NVL">
  <meta name="author" content="hiep">
  <link rel="stylesheet" href="/style.css" media="screen"   title="no title">
  

</head>

<body>